$deepgrey:#7a7a7a;
$orange:orange;

@define-mixin fontsize $px {
  font-size:calc($px*1.5);
  [data-dpr="2"] & {
    font-size: calc($px*2);
  }

  [data-dpr="3"] & {
    font-size: calc($px*3);
  }
}
p,label,a,span,button,input,select,table tr td,li{
  @mixin fontsize 12px;
}
*{
  @mixin fontsize 12px;
}

.font-ss{
  @mixin fontsize calc(12px/2);
}
.font-s{
  @mixin fontsize calc(12px/1.5);
}

.font{
  @mixin fontsize 12px;
}
.font-l{
  @mixin fontsize  calc(12px*1.5);
}
.font-x{
  @mixin fontsize  calc(12px*2);
}
.font-xx{
@mixin fontsize  calc(12px*3)
}

.c-p{  color: pink;  }
.c-g{  color: #b2b2b2;  }

.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.padding-20{
  padding: 20px;
}

.padding-l-10{
  padding-left: 10px;
}
